@media (max-width:740px) {
    .responsive_display {
        display: none;
    }

    .mobile_display {
        display: unset;
    }

    .responsive_curve {
        margin-top: -5em !important;
    }
}

@media (min-width:740px) {
    .mobile_display {
        display: none;
    }
}

.responsive_curve {
    margin-top: -10em;
}

.img_resource_size {
    max-width: 40px;
    max-height: 40px;
}